*{
    box-sizing: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

p{
    font-size: 1rem;
}

.app{
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--has-qr:hover{
    color: #ffffffb3;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-avatar{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rbga(0,0,0,0.2);
    margin-top: 4px;
}
.header__navbar-username{
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.4rem;
}
.header__navbar-user:hover{
    color: #ffffffb3
}

.header__navbar-user-menu{
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 0;
    color: white;
    border-radius: 2px;
    width: 160px;
    background-color: white;
    box-shadow: 1px 0 3px #666;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border: 7px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 29px;
    top: -12px;
}

.header__navbar-user-item{

}
.header__navbar-user-item a{
    font-size: 1.4rem;
    color: #333333;
    text-decoration: none;
    padding: 0 16px;
    display: block;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: flex;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 300;
    z-index: 5;
}
.header__navbar-item-link:hover{
    color: #ffffffb3;
}

.header__navbar-item--strong{
    font-weight: 600;
}
.header_navbar-item--separate::after{

   content: "";
   display: block;
   position: absolute;
   height: 12px;
   right: -8px;
   top: 50%;
   transform: translateY(-50%);
}      
.header__navbar-icon-link{
    color: white;
    text-decoration: none;
    min-height: 26px;
    display: flex;
    align-items: center;
}          
.header__navbar-icon-link:nth-child(2)
{
    margin-left: 4px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
    display: flex !important;
    align-items: center !important;
}
.header__navbar-icon:hover{
    color: #ffffffb3;
}

.header__navbar-item{
    cursor: pointer;
}

.header__qr{
    background-color: white;
    width: 180px;
    padding: 8px;
    position: absolute;
    top: 117%;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-download-img{
    height: 15px;
}

.header__notify{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    background-color: white;
    transform-origin: top right;
    animation: header-notify-grow ease-in 0.25s;
    z-index: 1;
}
.header__notify::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 10px;
    top: -25px;
}
.header__notify::after{
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    right: -8px;
    top: -7px;
}
.header__notify:hover .header__navbar-item-link{
    color: #ffffffb3;
}

.notify-appear:hover .header__notify{
    display: block;
}
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
@keyframes header-notify-grow{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
     height: 40px;
     background-color: white;
     cursor: default;
}

.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238,75,43,0.08);
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer{
    text-align: center;
    padding: 4px 0px;
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: #756F6E;
    width: 100%;

    
}


.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{
    width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    animation: growth linear 0.1s;
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    padding: 32px 12px 28px 12px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: #ee4d2d;
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0 12px;
    margin: 10px 0px;
    border: 1px solid rgba(0,0,0,0.14);
    border-radius: 2px;
}
.auth-form__input:focus{
    border-color: red;
}

.auth-form__policy{
    padding: 0 9px;
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__controls{
    padding-top: 72px;
    padding-bottom: 20px;
}

.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    color: #333;
    
}
.btn--normal:hover{
    background-color: #f0f0f0;
}
.btn.btn--primary{
    color: white;
    background-color: #ee4d2d;
}
.btn.btn--disable{
    cursor: default;
    background-color: #999;
    color: #949494;

}
.btn--with-icon{
    border-radius: 2px;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
    background-color: white;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}
.btn--with-icon{
    width: 210px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.fa-facebook{
    color: white;
}
.fa-google{
    color: #666;
}
.facebook{
    background-color: #3a5a98;
    color: white;
    padding-left: 10px;
}
.google{
    background-color: white;
    color: #666;
    padding-left: 10px;
}
.title{
    margin:0 28px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid #ccc;
    margin: -3px 16px 12px;
    height: 22px;
}
.forget{
    color: #ee4d2d;
}
.need{
    color: #939393;
}

.header_with_search{
    width: 100%;
    height: var(--header-with-search-height);
    margin: 0 8px;
    display: flex;
    align-items: center;
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 1.8rem;
    color: white;
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}
.header__logo-img{
    width: 150px;
}

.header__search-checbox:checked ~ .header__search{
    display: flex;
}
.header__search{
    background-color: white;
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #ccc;
    padding: 0 16px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    top: 105%;
    left: 0;
    width: calc(100% - 16px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 0 3px #666;
    overflow: hidden;
    display: none;
}
.header__search-history-heading{
    margin: 6px 12px;
    color: #ccc;
    font-weight: 300;

}
.header__search-history-item{
    width: 100%;
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #ccc;
}

.header__search-history-item a{
    text-decoration: none;
    width: 100%;
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: #333;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
}

.header__search-btn{
    background-color: #ee4d2d;
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    outline: none;
    margin-right: 2px;
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.6rem;
    color: white;
}

.header__search-option{
    position: absolute;
    top: 176%;
    right: 0;
    width: 130px;
    list-style-type: none;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 2px;
    display: none;
    animation: FadeIn ease-in 0.2s;
}
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
}
.header__search-option-item{
    background-color: white;
    padding: 8px 8px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: #333;
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color:#ee4d2d;  
    margin-left: 12px;
    display: none;
}
.header__search-option-item-active i{
    display: inline-block;
}
.header__cart{
    width: 150px;
    text-align: center;
    z-index: 2;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
}
.header__cart-icon{
    color: white;
    font-size: 2.4rem;
}
.header__cart-notice{
    position: absolute;
    top: -1px;
    right: 2px;
    padding: 0px 6px;
    font-size: 1.4rem;
    line-height:     1.4rem;
    color:#ee4d2d;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #f53e2d;
}
.header__cart-list{
    position: absolute;
    top: 125%;
    right: 0px;
    width: 400px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc;
    padding: 12px 0px 0px 0px;
    display: none;
    animation: FadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style-type: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    height: 42px;
    width: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: #333333;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ee4d2d;
}
.header__cart-item-multiple{
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}
.header__cart-item-remove{
    font-size: 1.4rem;
}
.header__cart-item-remove:hover{
    color: #ee4d2d;
    cursor: pointer;
}
.header__cart-list::after{
    content: "";
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: -28px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-view-cart{
    float: right;
    margin: 0px 12px 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}

/* Header sort bar */
.header-sort-bar{
    position: fixed;
    top: var(--header-height);
    width: 100%;
    height: var(--header-sort-bar-height);
    display: flex;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header-sort-item{
    flex: 1;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}
.header-sort-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.header-sort-link::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header-sort-item:first-child .header-sort-link::after{
    display: none;
}
.header-sort-item-active .header-sort-link{
    color: #ee4d2d;
}

.container{
    background-color: #f5f5f5;
}
.grid__content{
    padding-top: 36px;
}
.category{
    background-color: white;
    border-radius: 2px;
}
.category__heading{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 20px;
    color: #333;
    text-transform: uppercase;
}
.category__heading-icon{
    font-size: 1.4rem;
}
.category-list{
    margin-top: 8px;
}
.category-item{
    position: relative;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
}
.catecory-item--active .category-item__link{
    color: #ee4d2d;
}

.category-item__link{
    position: relative;
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 1.4rem;
    padding: 8px 20px;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover{
    color: #ee4d2d;
    right: -4px;
}

.mobile-category{
    display: none;
}
.mobile-category-list{
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar{
    display: none;
}
.mobile-category-item{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category-item:nth-of-type(3n +1) .mobile-category-link{
    background-color: #87afd8;
}
.mobile-category-item:nth-of-type(3n +2) .mobile-category-link{
    background-color: #76c9bd;
}
.mobile-category-item:nth-of-type(3n) .mobile-category-link{
    background-color: #88cf81;
}
.mobile-category-link{
    --line-height: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    display: block;
    line-height: var(--line-height);
    width: 110px;
    height: calc(var(--line-height) * 2);
    border-radius: 4px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-filter{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    background-color: white;
    min-width: 90px;
}
.select-input{
    z-index: 1;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-number{
    font-size: 1.5rem;
    color: #333333;
    margin-right: 22px;
}
.home-filter__page-number-current{
    color: #ee4d2d;
}
.home-filter__page-navi{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    color: #555555;
}

.home-product-item{
    display: block;
    text-decoration: none;
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}
.home-product-item-img{
    padding-top: 100%;
    background-size: cover;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.home-product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.8rem;
    margin: 10px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item-price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item-price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #666;
}
.home-product-item-price-current{
    font-size: 1.6rem;
    color: #ee4d2d;
    margin-left: 10px;
}
.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 12px 10px;
}
.home-product-item-like{
    font-size: 1.3rem;
}
i.home-product-item-liked-icon{
    color: #f63d30;
    display: none;
}
.home-product-item-liked .home-product-item-like-icon{
    display: none;
}
.home-product-item-liked .home-product-item-liked-icon{
    display: inline-block;
}
.home-product-item-rate{
    font-size: 1rem;
    color: #d5d5d5;
    transform: scale(0.8);
    transform-origin: right;
    margin: -1px 0px 0px auto;
}
.home-product-item-rate-star-gold{
    color: #ffce3e;
}
.home-product-item-sold{
    font-size: 1.2rem;
    color: #333;
    margin-left: 6px;
}
.home-product-item-origin{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
}
.home-product-item-brand{

}
.home-product-item-favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: #ee4d2d;
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-
    bottom-right-radius: 3px;
}
.home-product-item-favorite i{
    color: white;
}
.home-product-item-favorite span{
    color: white;
}
.home-product-item-favorite::before{
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    left: 0;
    top: 16px;
    filter: brightness(60%);
}
.home-product-item-favorite i{
    font-size: 0.9rem;
    margin: 0 4px;
}
.home-product-item-sale{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,64,0.95);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item-sale::after{
    content:"";
    position: absolute;
    bottom: -6px;
    right: 0;
    border-width:0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.95) transparent rgba(255,216,64,0.95);
}
.home-product-item-sale-percent{
    color: #ee4d2d;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
}
.home-product-item-sale-label{
    color: white;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    padding-top: 2px;
    position: relative;
    top: 4px;
}

.home-product--pagination{
    margin: 40px 0 32px;
}

.footer{
    border-top: 4px solid #ff4d2d;
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 16px;
}
.footer-list{
    list-style: none;
}
.footer-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0px;
    display: flex;
    align-items: center;
}
.footer-item-link:hover{
    color: #ff4d2d;
}
.footer-item-icon{
    font-size: 1.7rem;
    margin: -1px 8px 0 0;
}
.footer-download{
    display: flex;
}
.footer-download-qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid #ccc;
}
.footer-download-apps{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-download-app-link{
    text-decoration: none;
}
.footer-download-app-img{
    height: 20px;
}

.footer-bottom{
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 24px;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}